{% macro renderValue(key, value, indent=false) %}
{% if indent == true %}    {% endif %}
{% if value is sameas true %}
{{ key }} yes
{% elif value is sameas false %}
{{ key }} no
{% elif value is string or value is number %}
{{ key }} {{ value }}
{% else %}
{%     for v in value %}
{{ key }} {{ v }}
{%     endfor %}
{% endif %}
{% endmacro %}
{% if sshd_config.Match is defined %}
{%     set match_value = sshd_config.Match %}
{% endif %}
{% if (sshd_config.ListenAddress is not defined or (sshd_config.ListenAddress == "" or sshd_config.ListenAddress|length == 0)) and sshd_listen_addresses_empty_override %}
{%     set sshd_config = sshd_config|combine({"ListenAddress": sshd_listen_addresses}) %}
{% endif %}
{{ ansible_managed | comment }}
{% for key, value in sshd_config.items() %}
{%     if key != "Match" %}
{{-        renderValue(key, value) -}}
{%     endif %}
{% endfor %}
{% if match_value is defined and match_value|length > 0 %}

{% for match in match_value %}
{{-   renderValue("Match " + match['type'], match['name']) -}}
{%    for optKey, optValue in match['options'].items() %}
{{-       renderValue(optKey, optValue, true) -}}
{%    endfor %}
{% endfor %}
{% endif %}
