{% macro renderValue(key, value, indent=false) %}
{% if indent == true %}    {% endif %}
{% if value is sameas true %}
{{ key }} yes
{% elif value is sameas false %}
{{ key }} no
{% elif value is string or value is number %}
{{ key }} {{ value }}
{% else %}
{%     for v in value %}
{{ key }} {{ v }}
{%     endfor %}
{% endif %}
{% endmacro %}
{{ ansible_managed | comment }}
{% for key, value in sshd_config.iteritems() %}
{% if key == "ListenAddress" and (value == "" or value|length == 0) %}
{% set value = sshd_listen_addresses %}
{% endif %}
{%     if key == "Match" %}
{%         for match in value %}
{{-             renderValue("Match " + match['type'], match['name']) -}}
{%             for optKey, optValue in match['options'].iteritems() %}
{{-                 renderValue(optKey, optValue, true) -}}
{%             endfor %}
{%         endfor %}
{%     else %}
{{-         renderValue(key, value) -}}
{%     endif %}
{% endfor %}
